/* Подключаемые шрифт для текста*/
	@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

body {
	width:1600px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.header {
	height: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
	border: 1px solid #ececec;
	display: flex;
    align-items: center;
}

.container-header {
	width: 1150px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.header-left-logo {
    display: flex;
    align-items: center;
 }

 .header-left-logo-img {
     margin-right: 13px; 
 }

.header-left-logo-text {
	margin-right: 55px;
}

.header-left-logo-text_link {
	width: 190px;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: Lato;
	letter-spacing: 0.68px;
}

.header-left-logo-text span {
	color: #f16d7f;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 0.68px;
}

.header-left-logo-browse {
    display: flex;
}

.header-left-logo-browse button {
	width: 87px;
	height: 38px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	font-family: "Lato";
	font-size: 14px;
	font-weight: 300;
}

.header-left-logo-browse input {
	width: 317px;
	height: 36px;
	border-radius: 0 3px 3px 0;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
} 

.header-right-cart img {
	margin: 0 45px 0 230px;
}

.header-right-button button{
	width: 130px;
	height: 38px;
	background-color: #f16d7f;
	font-family: Lato;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.38px;
}

.menu-container {
	width: 1150px;
}

.menu-list {
	display: flex;
}

.menu-list-li{
	list-style: none;
	display: inline-block;
	font-family: "Lato";
	font-size: 14px;
	font-weight: 700;
	margin: 25px;
}

.menu-list-link {
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
    padding: 25px 0px 19px 0px;
}

.menu-list-link:hover {
	border-bottom: 3px solid #ef5b70;
}


/* ЗАКОНЧИЛСЯ HEADER  - - - - - - - - - - - - - - - - - - - - - - - - - */

.new-arrivals {
	background-color: #f8f3f4;
}

.conteiner-new-arrivals {
	width: 1150px;
	height: 150px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-arrivals_Haedline {
	margin-left: 0;
	color: #f16d7f;
	font-family: "Lato - Black";
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

.new-arrivals_menu {
	margin-right: 0px;
}

.new-arrivals_menu_list {
	display: flex;
    margin-right: 0px;
    list-style: none;
}

.new-arrivals_menu_link {
	color: #636363;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	margin-right: 3px;
}

.new-arrivals_menu_link:hover {
	color: #f16d7f;
	font-weight: 700;
}

.catalog {
	width: 1150px;
	display: flex;
	margin-top: 59px;
}
.left-menu{
	width: 295px;
}

.left-menu_name {
	height: 37px;
	color: #ef5b70;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-left: 5px solid #ef5b70; 
	line-height: 37px;
	text-align: left;
	margin-bottom: 22px;
	border-bottom: 1px solid #ebebeb;
	padding-left: 15px; 
	display: flex;
    justify-content: space-between;
}

.list {
	margin-bottom: 41px;
}

  summary::-webkit-details-marker {
	  display: none;
}

summary::after {
  content: '\25BC';
  color: #636363;
}

details[open] > summary::after {
  content: '\25B2';
  color: #ef5b70;
}

.left-menu_li {
	margin-bottom: 22px;
	padding-left: 25px; 
}

.left-menu_link{
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}

.left-menu_link:hover {
	color: #ef5b70;
	font-size: 16px;
}

.catalog-right{
	margin-left: 56px;
	width: 100%;
}

.right_top {
	display: flex;
	justify-content: space-between;
}
.trending{
	width: 176px;
	margin-left: 0;
	margin-right: 0;
}

.top_headline {
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.trending_style_list {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trending_style_li {
	margin-right: 2px;
	margin-bottom: 7px;
}

.trending_style_link {
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}

.size{
	width: 235px;
	margin-left: 115px;
}

.form_xs {
	display: flex;
    flex-wrap: wrap;
}

.size_check {
	margin-left: 0;
	margin-right: 8px;
}

.size_name {
	margin-right: 18px;
	color: #6f6e6e;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.price{
	border: 1px solid #000;
}

.right-middle {
	height: 50px;
	margin-top: 42px;
	background-color: #f3f3f3;
	display: flex;
    align-items: center;
}

.sort {
	height: 30px;
	margin-left: 22px;
}
.sort_label {
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
	padding: 5px 10px;
}

.sort_input { 
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	padding: 4px 10px;
}

.catalog-show {
	display: flex;
	flex-wrap: wrap;

}

.catalog-show_product {
	margin-top: 60px;
	height: 375px;
	position: relative;
}

.catalog-show_product_img {
	width: 100%;
}

.catalog-show_product:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.catalog-show_product:hover .catalog-show_product_img {
	filter: brightness(50%);
}

.catalog-show_product_link {
	text-decoration: none;
}

.fcatalog-show_product_text{
	text-align: left;
	margin: 20px 0 0 0;
}

.catalog-show_product_headline {
	color: #222222;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 15px;
	margin-top: 19px;
}

.catalog-show_product_price {
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 17px;
	margin-left: 15px;
}

.container-left-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 43px;
	align-items: center;
}

.pagination-left {
	margin-left: 0;
}

.pagination-left_list {
	display: flex;
	width: 261px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #ebebeb;
}

.pagination-left_li {
	margin-right: 5px;
}

.pagination-left_link {
	color: #c4c4c4;
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
}

.pagination-left_link:hover {
	color: #f16d7f;
	font-size: 17px;
}

.pagination-right {
	margin-right: 0;

}

.pagination-right_bt {
	display: block;
	width: 150px;
	height: 44px;
	border-radius: 3px;
	border: 1px solid #ef5b70;
	text-align: center;
	line-height: 44px;
	color: #ef5b70;
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
}

.pagination-right_bt:hover{
	box-shadow: 2px 2px 9px #ef5b70;
}

.carpercentcrown {
	background-color: #222224;
	margin-top: 110px;
}

.container-carpercentcrown {
	width: 1150px;
	display: flex;
	justify-content: space-between;
}

.block-carpercentcrown {
	margin-top: 90px;
	margin-bottom: 90px;
	text-align: center;
}
.delivery_headline {
	margin-top: 32px;
	color: #fbfbfb;
	font-family: Lato;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.delivery_text {
	width: 310px;
	margin-top: 17px;
	color: #fbfbfb;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.35px;
	line-height: 20px;
}


/* Тут начинается FOOTER  - - - - - - - - - - - - - - - - - - - - - - - */

.subscribe {
	height: 438px;
	background-image: url(img/subscribe/back.png);
	display: flex;
}

.conteiner-subscribe {
	width: 1150px;
	display: flex;
    margin-top: 123px;
}

.subscribe-left {
	display: flex;
    width: 486px;
    margin-top: 0px;

}
.subscribe-left-img {
	margin-left: -80px;
    margin-right: 28px;
}

.subscribe-left-text {
	color: #222224;
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	line-height: 25px;
}

.subscribe-left-text-signature {
	font-size: 16px;
	font-family: Lato;
	font-weight: 700;
	color: #f16d7f;
	letter-spacing: 0.4px;
	margin-top: 10px;
}

.subscribe-left-text-signature-City {
	color: #222224;
	font-family: "Lato";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}

.subscribe-right {
	text-align: center;
}

.subscribe-right p {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 35px;
}
.subscribe-right-sub {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.subscribe-right-email {
	width: 334px;
	height: 46px;
	opacity: 0.67;
	border-radius: 23px;
	background-color: #e1e1e1;
	padding-left: 28px;
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}


.subscribe-right-form {
	position: relative;
}
.subscribe-right-button {
	position: absolute;
	top: 0;
	right: 0;
	left: 282px;
	width: 104px;
	height: 46px;
	border-radius: 0 23px 23px 0;
	background-color: #f16d7f;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}

.block-information {
	width: 1150px;
	display: flex;
	margin-top: 123px;
}

.block-information-brand {
	width: 417px;
}

.block-information-brand-logo {
	display: flex;
}

.block-information-brand-logo-img {
    margin: 5px 0 0 0;
    width: 55px;
}

.block-information-brand-logoText {
    margin: 10px 0 0 15px;
    color: #3e3e40;
	font-family: Lato;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
 }

 .block-information-brand-logoText span {
	color: #f16d7f;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 0.68px;
}

.block-information-brand-text {
	color: #898989;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	margin-top: 41px;
	line-height: 22px;
}

.block-information-company-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.block-information-company-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-link {
	text-decoration: none;
	color: #898989;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.block-information-link:hover {
	color: #f16d7f;
	border-bottom: 3px solid #ef5b70;
}

.block-information-company li {
	margin-bottom: 33px;
}


.block-information-inf-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.block-information-inf-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-inf li {
	margin-bottom: 33px;
}


.block-information-shop_category-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.block-information-shop_category-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-shop_category li {
	margin-bottom: 33px;
}

.footer {
	background-color: #e6e6e6;
	height: 79px;
	display: flex;
    align-items: center;
}

.container-footer {
	width: 1150px;
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	margin: 0 0px 0 45px;
	color: #7a7a7a;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.footer-icons-list {
    margin: 0 25px 0 0;
   
}
.footer-icons-link {
	text-decoration: none;
	background-color: #ffffff;
}




