
/* Подключаемые шрифт для текста*/
	@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

body {
	width:1600px;
	margin: 0 auto;
}

.header {
	height: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
	border: 1px solid #ececec;
	display: flex;
    align-items: center;
}

.container-header {
	width: 1150px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.header-left-logo {
    display: flex;
    align-items: center;
 }

 .header-left-logo-img {
     margin-right: 13px; 
 }

.header-left-logo-text {
	width: 190px;
	margin-right: 37px;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: Lato;
	letter-spacing: 0.68px;
}

.header-left-logo-text span {
	color: #f16d7f;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 0.68px;
}

.header-left-logo-browse {
    display: flex;
}

.header-left-logo-browse button {
	width: 87px;
	height: 38px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	font-family: "Lato";
	font-size: 14px;
	font-weight: 300;
}

.header-left-logo-browse input {
	width: 317px;
	height: 36px;
	border-radius: 0 3px 3px 0;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
} 

.header-right-cart img {
	margin: 0 45px 0 230px;
}

.header-right-button button{
	width: 130px;
	height: 38px;
	background-color: #f16d7f;
	font-family: Lato;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.38px;
}

.menu-container {
	width: 1150px;
}

.menu-list {
	display: flex;
}

.menu-list-li{
	list-style: none;
	display: inline-block;
	font-family: "Lato";
	font-size: 14px;
	font-weight: 700;
	margin: 25px 40px 25px 0;
}

.menu-list li a {
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.content-brand {
	height: 615px;
	background-color: #e8e8e8;
	background-image: url(img/fon/backg.jpg);
	background-position: 213px -50px;
	display: flex;
    align-items: center;
}

.container-brand{
	width: 1150px;
}

.content-brand-text {
	border-left: 10px solid #f16d7f;
	font-family: "Lato";
}

.content-brand-text h2{
	margin-left: 12px;
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 0.75;
}

.content-brand-text p{ 
    margin: 10px 0 0 12px;	
	letter-spacing: 1px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
 }

 .content-brand-text .fashion {
	color: #f16d7f;
	letter-spacing: 1px;
 }

 .content-offers {
 	height: 825px;
	margin-top: 98px;
 }

.content-offers p {
	color: #222222;
	font-family: "Lato";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.45px;
	display: inline-block;
	padding: 16px 20px 16px 19px;
	background-color: #ffffff;
	margin-top: 26px;
}

.content-offers span {
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
}

 .conteiner-offers {
  	width: 1150px;
  	display: flex;
 }

.content-offers-left {
    margin-right: 20px;
}

.content-offers-left-bottom {
	width: 560px;
	height: 261px;
}

.content-offers-left-top {
	background-image: url(img/offers/man.jpg);
	width: 560px;
	height: 542px;
	margin-bottom: 20px;
}

.content-offers-left-bottom {
	width: 560px;
	height: 261px;
	background-image: url(img/offers/step.jpg);
}

.content-offers-right-top {
	background-image: url(img/offers/girl.jpg);
	width: 560px;
	height: 261px;
	margin-bottom: 20px;
}

.content-offers-right-bottom {
	background-image: url(img/offers/boy.jpg);
	width: 560px;
	height: 542px;
}

.container-feturned-items {
	width: 1150px;
	margin-top: 100px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
} 

.fetured-items-text-headline {
	color: #222222;
	font-family: Lato;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.fetured-items-textall {
	margin-top: 16px;
	color: #9f9f9f;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}

.fetured-items-clothes-list {
	display: flex;
    flex-wrap: wrap;
    text-align: left;
  	margin-top: 60px;
}

.fetured-items-clothes li {
	list-style: none;	
}

.fetured-items-clothes-link {
	text-decoration: none;
}

.fetured-items-clothes-list h2 {
	color: #222222;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 20px 0 17px 14px;
}

.fetured-items-clothes-list p {
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 60px 14px;
}

.fetured-items-clothes-list-backgraund {
	position: relative;
	background-image: url(img/clothes/Layer_4.png);
	background-repeat: no-repeat;
	height: 381px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
}

.fetured-items-clothes-list-cart {
	width: 123px;
	height: 39px;
	margin: 98px 70px 0;
	position: absolute;
	top: 0;
	border: 1px solid #ffffff;
	display: flex;
	align-items: center;
    color: #ffffff;
	font-family: Lato;
	font-size: 13px;
	font-weight: 700;
	padding-right: 13px;
}

.fetured-items-clothes-list-cart-img {
	width: 23px;
	height: 22px;
}

.browse-all-product {
	width: 1150px;
	text-align: center;
	margin-top: 79px;
	margin-bottom: 113px;
}

.browse-all-product-button {
	width: 212px;
	height: 48px;
	background-color: #f16d7f;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
}

.browse-all-product-first-letter {
	letter-spacing: 0.4px;
}

.container-offer-for-women {
	width: 1150px;
	height: 529px;
	background-color: #222224;
	display: flex;
}

.container-offer-for-women li {
	list-style: none;
}

.offer-for-women-left {
	width: 715px;
	color: #ffffff;
	font-family: "Lato";
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 146px 0 0 39px;
	background-image: url(img/offer-for-women/Layer_38.jpg);
}

.offer-for-women-left-headline {
	font-size: 54px;
	font-weight: 400;
}

.offer-for-women-left-offer {
	font-weight: 700;
	color: #f16d7f;
}

.offer-for-women-left-text {
	font-size: 32px;
	letter-spacing: 0.9px;
}

.offer-for-women-middle {
	width: 111px;
	display: flex;
    flex-direction: column; 
}

.offer-for-women-middle li:first-child {
	margin-top: 48px;
	margin-bottom: 124px;
}

.offer-for-women-middle li:last-child {
	margin-top: 114px;
}

.offer-for-women-right {
	width: 259px;
	color: #fbfbfb;
	font-family: Lato;
}

.offer-for-women-right-list {
	display: flex;
    flex-direction: column;
}

.offer-for-women-right li{
	margin-bottom: 75px;
}

.offer-for-women-right li:first-child {
	margin-top: 42px;
}

.subscribe {
	height: 438px;
	margin-top: 97px;
	background-image: url(img/subscribe/back.png);
	bac
	display: flex;
}

.conteiner-subscribe {
	width: 1150px;
	display: flex;
    margin-top: 97px;
}

.subscribe-left {
	display: flex;
    width: 486px;
    margin-top: 123px;

}
.subscribe-left-img {
	margin-left: -80px;
    margin-right: 28px;
}

.subscribe-left-text {
	color: #222224;
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	line-height: 25px;
}

.subscribe-left-text-signature {
	font-size: 16px;
	font-family: Lato;
	font-weight: 700;
	color: #f16d7f;
	letter-spacing: 0.4px;
	margin-top: 10px;
}

.subscribe-left-text-signature-City {
	color: #222224;
	font-family: "Lato";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}

.subscribe-right {
	text-align: center;
	margin-top: 123px;
}

.subscribe-right p {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 35px;
}
.subscribe-right-sub {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.subscribe-right-email {
	width: 334px;
	height: 46px;
	opacity: 0.67;
	border-radius: 23px;
	background-color: #e1e1e1;
	padding-left: 28px;
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}


.subscribe-right-form {
	position: relative;
}
.subscribe-right-button {
	position: absolute;
	top: 0;
	right: 0;
	left: 282px;
	width: 104px;
	height: 46px;
	border-radius: 0 23px 23px 0;
	background-color: #f16d7f;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}

.block-information {
	width: 1150px;
	display: flex;
	margin-top: 123px;
}

.block-information-brand {
	width: 417px;
}

.block-information-brand-logo {
	display: flex;
}

.block-information-brand-logo-img {
    margin: 5px 0 0 0;
    width: 55px;
}

.block-information-brand-logoText {
    margin: 10px 0 0 15px;
    color: #3e3e40;
	font-family: Lato;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
 }

 .block-information-brand-logoText span {
	color: #f16d7f;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 0.68px;
}

.block-information-brand-text {
	color: #898989;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	margin-top: 41px;
	line-height: 22px;
}

.block-information-company-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.block-information-company-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-company-link {
	text-decoration: none;
	color: #898989;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.block-information-company li {
	margin-bottom: 33px;
}


.block-information-inf-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.block-information-inf-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-inf-link {
	text-decoration: none;
	color: #898989;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.block-information-inf li {
	margin-bottom: 33px;
}


.block-information-shop_category-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.block-information-shop_category-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-shop_category-link {
	text-decoration: none;
	color: #898989;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.block-information-shop_category li {
	margin-bottom: 33px;
}

.footer {
	background-color: #e6e6e6;
	height: 79px;
	display: flex;
    align-items: center;
}

.container-footer {
	width: 1150px;
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	margin: 0 0px 0 45px;
	color: #7a7a7a;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.footer-icons-list {
    margin: 0 25px 0 0;
   
}
.footer-icons-link {
	text-decoration: none;
	background-color: #ffffff;

}
