
/* Подключаемые шрифт для текста*/
	@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

body {
	width: 1600px;
	margin: 0 auto;
}

.header {
	height: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
	border: 1px solid #ececec;
	display: flex;
    align-items: center;
}

.container-header {
	width: 1150px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.header-left-logo {
    display: flex;
    align-items: center;
 }

 .header-left-logo-img {
     margin-right: 13px; 
 }

.header-left-logo-text {
	margin-right: 37px;
}

.header-left-logo-browse {
    display: flex;
}

.header-left-logo-browse button {
	width: 87px;
	height: 38px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	font-family: "Lato";
	font-size: 14px;
	font-weight: 300;
}

.header-left-logo-browse input {
	width: 317px;
	height: 36px;
	border-radius: 0 3px 3px 0;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
} 

.header-right-cart img {
	margin: 0 45px 0 349px;
}

.header-right-button button{
	width: 130px;
	height: 38px;
	background-color: #f16d7f;
	font-family: Lato;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.38px;
}

.menu-container {
	width: 1150px;
}

.menu-list {
	display: flex;
}

.menu-list-li{
	list-style: none;
	display: inline-block;
	font-family: "Lato";
	font-size: 14px;
	font-weight: 700;
	margin: 25px 40px 25px 0;
}

.menu-list li a {
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.content-brand {
	height: 615px;
	background-color: #e8e8e8;
	background-image: url(img/fon/backg.jpg);
	background-position: 213px -50px;
	display: flex;
    align-items: center;
}

.container-brand{
	width: 1150px;
}

.content-brand-text {
	border-left: 10px solid #f16d7f;
	font-family: "Lato";
}

.content-brand-text h2{
	margin-left: 12px;
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 0.75;
}

.content-brand-text p{ 
    margin: 10px 0 0 12px;	
	letter-spacing: 1px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
 }

 .content-brand-text .fashion {
	color: #f16d7f;
	letter-spacing: 1px;
 }

 .content-offers {
 	height: 825px;
	margin-top: 98px;
 }

.content-offers p {
	color: #222222;
	font-family: "Lato";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.45px;
	display: inline-block;
	padding: 16px 20px 16px 19px;
	background-color: #ffffff;
	margin-top: 26px;
}

.content-offers span {
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
}

 .conteiner-offers {
  	width: 1150px;
  	display: flex;
 }

.content-offers-left {
    margin-right: 20px;
}

.content-offers-left-bottom {
	width: 560px;
	height: 261px;
}

.content-offers-left-top {
	background-image: url(img/offers/man.jpg);
	width: 560px;
	height: 542px;
	margin-bottom: 20px;
}

.content-offers-left-bottom {
	width: 560px;
	height: 261px;
	background-image: url(img/offers/step.jpg);
}

.content-offers-right-top {
	background-image: url(img/offers/girl.jpg);
	width: 560px;
	height: 261px;
	margin-bottom: 20px;
}

.content-offers-right-bottom {
	background-image: url(img/offers/boy.jpg);
	width: 560px;
	height: 542px;
}

.container-feturned-items {
	width: 1150px;
	margin-top: 100px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
} 

.fetured-items-text-headline {
	color: #222222;
	font-family: Lato;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.fetured-items-textall {
	margin-top: 16px;
	color: #9f9f9f;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}

.fetured-items-clothes-list {
	display: flex;
    flex-wrap: wrap;
    text-align: left;
  	margin-top: 60px;
}

.fetured-items-clothes li {
	list-style: none;	
}

.fetured-items-clothes-link {
	text-decoration: none;
}

.fetured-items-clothes-list h2 {
	color: #222222;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 20px 0 17px 14px;
}

.fetured-items-clothes-list p {
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 60px 14px;
}

.fetured-items-clothes-list-backgraund {
	background-image: url(img/clothes/Layer_6.png);
	background-repeat: no-repeat;
	height: 381px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
}

.browse-all-product {
	width: 1150px;
	text-align: center;
	margin-top: 79px;
}

.browse-all-product-button {
	width: 212px;
	height: 48px;
	background-color: #f16d7f;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
}

.browse-all-product-first-letter {
	letter-spacing: 0.4px;
}


