/* Подключаемые шрифт для текста*/
	@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

body {
	width:1600px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.header {
	height: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
	border: 1px solid #ececec;
	display: flex;
    align-items: center;
}

.container-header {
	width: 1150px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.header-left-logo {
    display: flex;
    align-items: center;
 }

 .header-left-logo-img {
     margin-right: 13px; 
 }

.header-left-logo-text {
	margin-right: 55px;
}

.header-left-logo-text_link {
	width: 190px;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: Lato;
	letter-spacing: 0.68px;
}

.header-left-logo-text span {
	color: #f16d7f;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 0.68px;
}

.header-left-logo-browse {
    display: flex;
}

.header-left-logo-browse button {
	width: 87px;
	height: 38px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	font-family: "Lato";
	font-size: 14px;
	font-weight: 300;
}

.header-left-logo-browse input {
	width: 317px;
	height: 36px;
	border-radius: 0 3px 3px 0;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
} 

.header-right-cart img {
	margin: 0 45px 0 230px;
}

.header-right-button button{
	width: 130px;
	height: 38px;
	background-color: #f16d7f;
	font-family: Lato;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.38px;
}

.menu-container {
	width: 1150px;
}

.menu-list {
	display: flex;
}

.menu-list-li{
	list-style: none;
	display: inline-block;
	font-family: "Lato";
	font-size: 14px;
	font-weight: 700;
	margin: 25px;
}

.menu-list-link {
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
    padding: 25px 0px 19px 0px;
}

.menu-list-link:hover {
	border-bottom: 3px solid #ef5b70;
}


/* ЗАКОНЧИЛСЯ HEADER  - - - - - - - - - - - - - - - - - - - - - - - - - */

.new-arrivals {
	background-color: #f8f3f4;
}

.conteiner-new-arrivals {
	width: 1150px;
	height: 150px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-arrivals_Haedline {
	margin-left: 0;
	color: #f16d7f;
	font-family: "Lato - Black";
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

.new-arrivals_menu {
	margin-right: 0px;
}

.new-arrivals_menu_list {
	display: flex;
    margin-right: 0px;
    list-style: none;
}

.new-arrivals_menu_link {
	color: #636363;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	margin-right: 3px;
}

.new-arrivals_menu_link:hover {
	color: #f16d7f;
	font-weight: 700;
}

.container-order {
	width: 1150px;
}



/* Тут начинается FOOTER  - - - - - - - - - - - - - - - - - - - - - - - */

.subscribe {
	height: 438px;
	margin-top: 97px;
	background-image: url(img/subscribe/back.png);
	display: flex;
}

.conteiner-subscribe {
	width: 1150px;
	display: flex;
    margin-top: 123px;
}

.subscribe-left {
	display: flex;
    width: 486px;

}
.subscribe-left-img {
	margin-left: -80px;
    margin-right: 28px;
}

.subscribe-left-text {
	color: #222224;
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	line-height: 25px;
}

.subscribe-left-text-signature {
	font-size: 16px;
	font-family: Lato;
	font-weight: 700;
	color: #f16d7f;
	letter-spacing: 0.4px;
	margin-top: 10px;
}

.subscribe-left-text-signature-City {
	color: #222224;
	font-family: "Lato";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}

.subscribe-right {
	text-align: center;
}

.subscribe-right p {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 35px;
}
.subscribe-right-sub {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.subscribe-right-email {
	width: 334px;
	height: 46px;
	opacity: 0.67;
	border-radius: 23px;
	background-color: #e1e1e1;
	padding-left: 28px;
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}


.subscribe-right-form {
	position: relative;
}
.subscribe-right-button {
	position: absolute;
	top: 0;
	right: 0;
	left: 282px;
	width: 104px;
	height: 46px;
	border-radius: 0 23px 23px 0;
	background-color: #f16d7f;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}

.block-information {
	width: 1150px;
	display: flex;
	margin-top: 123px;
}

.block-information-brand {
	width: 417px;
}

.block-information-brand-logo {
	display: flex;
}

.block-information-brand-logo-img {
    margin: 5px 0 0 0;
    width: 55px;
}

.block-information-brand-logoText {
    margin: 10px 0 0 15px;
    color: #3e3e40;
	font-family: Lato;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
 }

 .block-information-brand-logoText span {
	color: #f16d7f;
	font-family: "Lato";
	font-weight: 700;
	letter-spacing: 0.68px;
}

.block-information-brand-text {
	color: #898989;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	margin-top: 41px;
	line-height: 22px;
}

.block-information-company-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.block-information-company-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-link {
	text-decoration: none;
	color: #898989;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.block-information-link:hover {
	color: #f16d7f;
	border-bottom: 3px solid #ef5b70;
}

.block-information-company li {
	margin-bottom: 33px;
}


.block-information-inf-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.block-information-inf-list {
	list-style: none;
	margin-top: 45px;
}



.block-information-inf li {
	margin-bottom: 33px;
}


.block-information-shop_category-head {
	color: #f16d7f;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.block-information-shop_category-list {
	list-style: none;
	margin-top: 45px;
}

.block-information-shop_category li {
	margin-bottom: 33px;
}

.footer {
	background-color: #e6e6e6;
	height: 79px;
	display: flex;
    align-items: center;
}

.container-footer {
	width: 1150px;
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	margin: 0 0px 0 45px;
	color: #7a7a7a;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.footer-icons-list {
    margin: 0 25px 0 0;
   
}
.footer-icons-link {
	text-decoration: none;
	background-color: #ffffff;
}




